@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e6edf3;
  --background: #101620;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
